body {
    padding-top: 70px;
    color: #444;
}

.full-width-image {
	background-size: cover;
	text-align: center;
	height: 500px;
    z-index: -1;
}

.navbar-nav.contacts > li {
	display: block;
	float: none;
}

.navbar-nav.contacts > li > a {
	padding: 5px 15px;
    color: #444;
}

.contacts i {
	margin-right: 8px;
    color: #00498f;
}

.contacts > li > a:hover {
    color: #f1ac00!important;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width: 767px) {
    body {
        padding-top: 100px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.logo-img {
    margin-left: 100px;
}

.navbar.navbar-fixed-left {
    float: left;
    position: fixed;
    width: 150px;
    height: 100%;
    background: transparent;
    border: none;
    z-index: 999;
}

.page-scroll-widget {
	top: 50%;
    position: absolute;
    margin-top: -180px;
}

.page-scroll-widget li a {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	padding: 8px;
	padding: 0;
	background-color: rgba(204, 0, 102, 0);
    border: 2px solid #f1ac00;
}

.page-scroll-widget li {
	float: none;
	padding-left: 15px;
	margin-bottom: 15px;
}

.navbar-default .navbar-nav > .active > a,
.page-scroll-widget li.active > a,
.page-scroll-widget li.active > a:focus,
.page-scroll-widget li.active >a:hover {
	background-color: #f1ac00 !important;
}

.course-intro h1 span,
.course-intro h2 span {
    color: #f1ac00;
}

ul.date-place {
    list-style-type: none;
    margin: 30px 0 30px 0;
}

ul.date-place li {
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
}

ul.date-place li span {
    color: #f1ac00;
}

.green-btn {
    color: #fff;
    font-size: 25px;
    background-color: #01c462;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.green-btn:hover {
    color: #fff;
    background-color: #39c051;
}

section {
    min-height: 490px;
    padding: 75px 0 75px 20px;
    text-align: center;
}

section p {
    font-size: 20px; 
}

section h1:not(.main-title) {
    padding: 15px 0 25px 0;
    max-width: 420px;
    margin: auto;
    border-top: 2px solid #f1ac00;
}

.about-course-section {
    background: #fff;
}

.course-atendees-section {
    background: #fff;
}

.course-program-section {
    background: #eee;
}

.why-asap-section {
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    text-align: middle;
    background: #eee;
}

.why-asap-section h1 {
    color: #444;
}

.special-offer-section {
    background: #fff;
}

.special-offer-section h1 {
    max-width: 525px;
}

.contacts-section {
    background: #fff;
}

.asap-footer {
	background-color: #373a48;
	color:white;
}

.asap-footer .footer-copyright {
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

.asap-footer .footer-copyright p {
	margin:10px;
	color: #ccc;
}

.asap-footer ul {
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.asap-footer h5 {
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.asap-footer a {
	color:#d2d1d1;
	text-decoration: none;
}

.asap-footer a:hover, .asap-footer a:focus {
	text-decoration: none;
	color:white;
}

.asap-footer .page-cols {
	text-align: center;
}

.asap-footer .social-networks {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

.asap-footer .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.asap-footer .social-networks a:hover {
	text-decoration: none;
}

.asap-footer .facebook:hover {
	color:#0077e2;
}

.asap-footer .google:hover {
	color:#ef1a1a;
}

.asap-footer .twitter:hover {
	color: #00aced;
}

@media screen and (max-width: 767px) {
	.asap-footer {
		text-align: center;
	}
}

.bold {
    font-weight: bold;
}

.blue-txt,
.asap-link {
    color: #0094be;
}

.asap-link {
    text-decoration: underline;
}

.purple-row-section {
    background-color: #c281d8;;
    height: 390px;
}

.yellow-row-section {
    background-color: #f2c112;
    height: 390px;
}

.blue-row-section {
    background-color: #4fc1e9;
    height: 390px;
}

.why-asap-section h2 {
    padding-top: 160px;
}

.orange-btn {
    color: #fff;
    font-size: 25px;
    background-color: #f1ac00;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 30px;
}

.orange-btn:hover {
    color: #fff;
    background-color: #f2c112;
}

.course-atendees-for-section {
    background: #eee;
}

section.course-atendees-for-section h1 {
    max-width: 480px;
}

.course-info {
    text-align: left;
    margin-top: 30px;
}

.course-program-section {
    background: #fff;
}

.course-program-list {
    margin-top: 35px;
    text-align: left;
}

.course-program-list li i {
    margin-right: 10px;
    color: #f1ac00;
}

.special-offer-section {
    background: #eee;
}

.yellow-text-bold {
    color: #f1ac00;
    font-weight: bold;
}

.blue-btn {
    color: #fff;
    font-size: 25px;
    background-color: #4fc1e9;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 30px;
}

.blue-btn:hover {
    color: #fff;
    background-color: #0094be;
}

.why-asap-section {
    background: #fff;
}

.why-us-row {
    margin-top: 30px;
}

.contacts-section {
    background: #eee;
}

.happy-to-answer-text {
    margin-bottom: 30px;
}

label[for=email],
label[for=password] {
    color: #f1ac00;
}

.asap-footer {
    border-top: 2px solid #f2c112;
}

.asap-footer .social-networks {
    padding-top: 0;
}

.address span {
    text-transform: uppercase;
}

.footer-item {
    position: relative;
}

.footer-item span {
    text-align: left;
    display: inline-block;
    padding-left: 35px;
}

.footer-item i {
    display: inline-block;
    font-size: 36px;
    position: absolute;
    top: 0
}

.footer-item .phone-number {
    padding-top: 3px;
}

.footer-contacts i {
    position: relative;
    font-size: 20px;
}

.footer-contacts span {
    padding-left: 10px;
}

.footer-contacts i.fa-phone {
    font-size: 24px;
}

.footer-logo .logo-img {
    display: inline-block;
    margin-top: 30px;
    margin-left: 0;
}